<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Game recap</title>
		<title>HTML Table Generator</title>
		<link href="/static/table.css" rel="stylesheet">
	</head>
	<body>
		<h1>Game recap</h1>
		<table>
			<thead>
				<tr>
					<th>Catégorie<br></th>
					<th>Joueur 1<br></th>
					<th>Joueur 2<br></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&nbsp;Sort lancés<br></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;Sorts évités<br></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;Ultimes lancés<br></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Dégats infligés <br></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;Ratio A/D<br></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>